/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --text-color: #222;
  --body-color: #fff;
  --title-color: #fff;
  --kanban-bg-color: #009578;
  --item-input-bg-color: #fff;
  --add-item-text-color: #fff;

  /*========== Font family ==========*/
  --body-font: "Montserrat Alternates", sans-serif;
  --second-font: "Montserrat Alternates", sans-serif;

  /*========== Font sizes ==========*/
  --big-font-size: 8.8rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --larger-font-size: 2rem;
  --large-font-size: 1.8rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.3rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 800;

  /*========== Transition ==========*/
  --transition-dropzone: background 0.15s, height 0.15s;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
}

/*=============== BASE ===============*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
button,
input,
textarea {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

/*=============== LAYOUT ===============*/

.kanban {
  --border-radius: 0.5rem;
  display: flex;
  padding: 3rem;
  width: 75rem;
  background-color: var(--kanban-bg-color);
  border-radius: var(--border-radius);
}

.kanban * {
  font-family: var(--body-font);
}

.kanban__column {
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-right: 3rem;
}

.kanban__column-title {
  margin-bottom: 2rem;
  font-size: var(--h1-font-size);
  color: var(--title-color);
  user-select: none;
}

.kanban__item-input {
  padding: 1rem 1.5rem;
  background-color: var(--item-input-bg-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.kanban__dropzone {
  height: 1rem;
  transition: var(--transition-dropzone);
}

.kanban__dropzone--active {
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
  width: 100%;
  padding: 1rem 0;
  font-size: var(--normal-font-size);
  color: var(--add-item-text-color);
  background: rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  cursor: pointer;
}
